.content {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

header {
  margin: 0px;
}

main {
  width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: gray;
  margin: 0px;
}

.big-img {
  display: block;
}

.small-img {
  width: 250px;
  border-radius: 50%;
  border: 10px black solid;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}